@model MLPSProject.Models.LoanDetail
@{
    ViewBag.Title = "Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Process</h2>

<head>
    <style>
        #dd {
            margin-left: 10% !important;
            float: right;
            margin-right: 10% !important;
            width: 120px !important;
            font-weight: 500 !important;
            left: 5px !important;
            /*font-size: 20px;*/
            background-color: white;
            border-radius: 0px !important;
        }
        /*.form-control {
            padding: 2px 100px;
        }*/
        /*.form-control form-control-sm{
            content:'Search';
        }*/
    </style>
</head>

@using (Html.BeginForm())
{
    <body>
        @Html.HiddenFor(c => c.Id)
        <div class="container" id="dd">
            <div class="dropdown">
                <button id="btn" class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    @Session["User"]
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="dd">
                    <li>@Html.ActionLink("Logout", "LogOff", "Admin")</li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />

        @Html.HiddenFor(c => Session["regId"])
        @{

            if (Session["User"] != null)
            {
                <table id="mortgage" class="table table-striped" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="th-sm">Name</th>
                            <th class="th-sm">Email Id</th>
                            <th class="th-sm">Mobile No.</th>
                            <th class="th-sm">PropertyType</th>
                            <th class="th-sm">Property Address</th>
                            <th class="th-sm">Id Proof</th>
                            <th class="th-sm">Address Proof</th>
                            <th class="th-sm">Property Documents</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model)
                            {*@
                        <tr>
                            <td>@Model.vName</td>
                            <td>@Model.vEmail</td>
                            <td>@Model.vMobile</td>
                            <td>@Model.PropertyDetail.vPropertyType</td>
                            <td>@Model.PropertyDetail.PropertyAddress</td>
                            <td>@Model.PropertyDetail.IdProof</td>
                            <td>@Model.PropertyDetail.AddressProof</td>
                            <td>@Model.PropertyDetail.PropertyAgreement</td>
                            <td>@Html.ActionLink("Accepted", "StatusApproval", "Officer", new { loanId = Model.Id, regId = Model.RegisteredUserId, msg = "Accepted" }, null)</td>
                            <td>@Html.ActionLink("Rejected", "StatusApproval", "Officer", new { loanId = Model.Id, regId = Model.RegisteredUserId, msg = "Rejected" }, null)</td>
                        </tr>
                        @*  *@}
                    </tbody>
                </table>
            }
            else
            {
                Response.Redirect("~/Admin/Index");
            }
        }

        <div class="form-group" align="center">
            <input type="button" class="btn btn-success" value="Submit Report" />
        </div>

    </body>
}

@section Scripts {

    @*<link href="~/Content/DataTables/dataTables.bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/DataTables/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $("#mortgage").DataTable();
        });
    </script>
    @*<script>
            $('.form-control form-control-sm').attr('placeholder', 'Search for Stuff');
        </script>*@
    @Scripts.Render("~/bundles/jqueryval")
}